<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/qingchu.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/main.js}"></script> 
     <!-- <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" th:href="@{/css/qingchu.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/vue.js}"></script>
        <script  th:src="@{/js/swiper-bundle.min.js}"></script> -->

    <title>登录_网上商城</title>

</head>
<body>
    <div class="background1" id="root">
        <div class="background2"  :class="{'bgshow':bgtype===2}">
        </div>
        <div class="background3"  :class="{'bgshow':bgtype===3}">
        </div>
        <div class="loginlay">
         <div class="login">
            <h5>欢迎来到商城，</h5>
            <h3>请登录</h3>
            <form action="" @submit.prevent="submit($event)">
                <span>账号</span>
                <input :class="{'focus':nameIsFocus}" @focus="nameGetFocus()" @blur="nameLoseFocus()" type="text" placeholder="请输入用户名" id="login.name" name="username" maxlength="10">
                <br>
                <span>密码</span>
                <input :class="{'focus':passwordIsFocus}"  @focus="passwordGetFocus()" @blur="passwordLoseFocus()" type="password" placeholder="请输入密码" id="login.password" name="password" maxlength="30">
            <div class="buttons">
                <button class="bt1" :class="[{'btcolor2':bgtype===2},{'btcolor3':bgtype===3}]"  @click="registerButtonClicked">注册</button>
                <button class="bt2"  :class="[{'btcolor2':bgtype===2},{'btcolor3':bgtype===3}]" type="submit">登录</button>
            </div>
        </form>
            
         </div>

        </div>
    </div>
    <script>
        Vue.config.productionTip=false;
        new Vue(
        {
        el:'#root',
        data() {
            return {
                nameIsFocus:false,
                passwordIsFocus:false,
                bgtype:1,
            }
        },
        methods: {
            registerButtonClicked(){
                
                document.location.href="http://localhost:8080/mall/register";
            },
            submit(e){
                var formData = new FormData(e.target);
              
                axios({
                    method:''+
                    'POST',
                    url:'http://localhost:8080/mall/login',
                    data:formData
                }).then(resp=>{
                    console.log(resp);
                    let obj=stringtoObj(resp.data);
                    console.log(obj);
                    console.log(obj.msg);
                    if(obj.msg=="登录成功!") {
                        document.cookie="type="+obj.type;
                        document.cookie="id="+obj.id;
                        document.cookie="username="+formData.get("username");
                        document.location.href = "http://localhost:8080/mall/index";
                    }
                    else
                    alert("密码错误或用户不存在！");
                })
                console
                console.log(this.mail)
            },
            nameGetFocus(){
                this.nameIsFocus=true;
                this.bgtype++;
                if(this.bgtype===4)
                this.bgtype=1;
            },
            nameLoseFocus(){
                this.nameIsFocus=false;
            },
            passwordGetFocus(){
                this.passwordIsFocus=true;
                this.bgtype++;
                if(this.bgtype===4)
                this.bgtype=1;
            },
            passwordLoseFocus(){
                this.passwordIsFocus=false;
            },
        },
    }
)
    </script>
</body>
</html>