<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/qingchu.css}">
    <link rel="stylesheet" th:href="@{/css/shopManage.css}">

    <script th:src="@{/js/vue.js}"></script>
    <script  th:src="@{/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>


    <!-- <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/shopManage.css">
    <link rel="stylesheet" href="../../static/css/qingchu.css">
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/vue.js"></script> -->
    <title>店铺管理</title>
</head>
<body>
    <div id="root">
         <div class="wrapper">
        <div class="options">
            <button class="bt_shopInfo" @click="btsClick(0)">店铺信息</button>
            <button class="bt_createGoods" @click="btsClick(1)">添加商品</button>
            <button class="bt_manageGoods" @click="btsClick(2)">管理商品</button>
            <button class="bt_manageOrders" @click="btsClick(3)">管理订单</button>
            <button class="bt_backtoIndex" @click="backtoIndex()">返回首页</button>
        </div>
        <div class="contents">
            <div class="ct_shopInfo" v-show="displayNum==0" >
               <form action="" @submit.prevent="submit0($event)">
                <input type="hidden" v-model:value="Info_shopID" name="storeId">
                <br>
                    店铺名称：<input type="text" name="storeName"  v-model:value="Info_shopName">
                    <br>
                    店铺简介：<input type="text" name="instruction"  v-model:value="Info_shopIntro">
                    <br>
                    <button type="submit">修改信息</button>
               </form>
            </div>
            <div class="ct_createGoods" v-show="displayNum==1">
                <form action="" @submit.prevent="submit1($event)">
                    <br>
                    商品名称：<input type="text" name="goodName" maxlength="10">
                    <br>
                    商品类型：
                    <br>
                    <div> <label v-for="type in goodsTypes"><input type="radio" name="goodType"  :value="type.value">{{type.label}}</label>
                    </div>
                   
                    <br>
                    商品价格：<input type="number" name="goodPrice">
                    <br>
                    商品图片网址：<input type="text" name="goodImg">
                    <br>
                    商品选项:
                    <input type="text" name="goodOptions" class="goodsOptInfo">
                    <br>
                    <div >（至少输入一项，若有多项请用英文逗号隔开，例如： 红色,绿色,蓝色）</div>
                    <br>
                    商品说明： <input type="text" name="goodDetails">
                    <br>
                    <div> <button type="submit">添加商品</button></div>
                   
                </form>
            </div>
            <div class="ct_manageGoods" v-show="displayNum==2">
                wocao2
            </div>
            <div class="ct_manageOrders" v-show="displayNum==3">
                wocao3
            </div>
            
        </div>
    </div>

    </div>
   
    <script>
        
        new Vue({
            el:'#root',
        data() {
            return{
                displayNum:0,
                Info_shopName:"",
                Info_shopIntro:"",
                Info_shopID:"",
                goodsTypes:[
                    {value:"0",label:"女装"},
                    {value:"1",label:"内衣"},
                    {value:"2",label:"奢品"},
                    {value:"3",label:"女鞋"},
                    {value:"4",label:"男鞋"},
                    {value:"5",label:"箱包"},
                    {value:"6",label:"美妆"},
                    {value:"7",label:"饰品"},
                    {value:"8",label:"洗护"},
                    {value:"9",label:"男装"},
                    {value:"10",label:"运动"},
                    {value:"11",label:"百货"},
                    {value:"12",label:"手机"},
                    {value:"13",label:"数码"},
                    {value:"14",label:"企业"},
                    {value:"15",label:"家装"},
                    {value:"16",label:"电器"},
                    {value:"17",label:"车品"},
                    {value:"18",label:"食品"},
                    {value:"19",label:"生鲜"},
                    {value:"20",label:"母婴"},
                    {value:"21",label:"医药"},
                    {value:"22",label:"保健"},
                    {value:"23",label:"进口"}
            ]
            }
            
        },
        methods: {
            btsClick(i){
               this.displayNum=i;
               console.log(i);
            },
            submit0(e){
                var formData = new FormData(e.target);
                console.log(formData.data);
                axios({
                    method:''+
                    'POST',
                    url:'http://localhost:8080/mall/shopManage/update',
                    data:formData
                }).then(resp=>{
                    console.log(resp);
                    let obj=stringtoObj(resp.data);
                    console.log(obj);
                    console.log(obj.msg);
                    if(obj.msg=="店铺信息修改成功!") {
                       alert("修改成功！");
                    }
                    else
                    alert("修改失败");
                })
                console
                console.log(this.mail)
            },
            submit1(e){
                var formData = new FormData(e.target);
                axios({
                    method:''+
                    'POST',
                    url:'http://localhost:8080/mall/goodManage/add',
                    data:formData
                }).then(resp=>{
                    console.log(resp);
                    console.log(resp.data);
                    let obj=stringtoObj(resp.data);
                    console.log(obj);
                    if(obj.msg=="商品添加成功!") {
                       alert("添加成功！");
                    }
                    else
                    alert("添加失败");
                })
            },
            backtoIndex(){
            document.location.href="http://localhost:8080/mall/index";
             }
        },
        created:function(){
            let obj=cookietoObj(document.cookie);
                this.Info_shopID=obj.id;
                axios({
                    method:''+
                    'POST',
                    url:'http://localhost:8080/mall/shopManage/information',
                    data:{
                        storeId:obj.id,
                    }
                }).then(resp=>{
                    console.log(resp);
                     let obj2=stringtoObj(resp.data);
                   console.log(obj2);
                  this.Info_shopName=obj2.storeName;
                  this.Info_shopIntro=obj2.storeInstruction;
                  
                })
        }
        })
    </script>
</body>
</html>