<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <!-- <link rel="stylesheet" href=".../../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/shop.css">
    <link rel="stylesheet" href="../../static/css/qingchu.css">

    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/swiper-bundle.min.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/qingchu.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <title>商店_网上商城</title>
</head>
<body>
    <div id="root">
        <div class="wrapper container">
           <div class="shopFrame">
            <span id="shopName">—&nbsp{{Info_shopName}}&nbsp—</span>
            <br>
            <span id="shopIntroduction">简介：{{Info_shopIntro}}</span>
           </div>
           <hr>
           <div class="col-xs-12 goodsFrame">
                
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-4" v-for="goods in goodsList"  @click="clickGoods(goods.id)">
                    <div class="goods">
                        <div class="goodsImg"><img :src="goods.goodPicture" alt="加载失败喵"></div>
                        <div class="goodsInfo">
                            <div class="goodsName">{{goods.goodName}}</div>
                            <div class="goodsOther">
                                <span class="goodsPrice">{{goods.goodPrice}}</span>
                                <span class="goodsSales">销量：{{goods.goodSales}}&nbsp&nbsp&nbsp评价数：{{goods.goodCommentCount}}</span>
                            </div>
                        </div>
                        

                    </div>
                </li>
               
            </ul>
       
    </div>
         
    
    </div>
</div>
    <script>
        
new Vue(
    {
        el:'#root',
        data() {
            return {
                isBuyer:true,
                hahatype:"",
                goodsStore:"",
                Info_shopName:"",
                Info_shopIntro:"",
                goodsList:[],
            }
        },
        methods: {
            clickGoods(id){
                document.cookie="goodsId="+id;
                document.location.href="http://localhost:8080/mall/goods";
            },
            getGoodsList(){
                this.goodsList=[];
                var that = this;
                //首先获取列表字符串
                axios({
                    method:''+
                    'GET',
                    url:'http://localhost:8080/mall/goodManage/getAll?storeId='+this.goodsStore,
                }).then(resp2=>{
                    listString=resp2.data;
                    //字符串转换为多个对象
                    var str2=listString.substring(1,listString.length-1);
                    //let obj = {};
                    let arr1 = str2.split('}, ');
                    arr1.forEach(function(item){
                        var str3=item.split('{');
                        var x=stringtoObjWashed('{'+str3[1]+'}');
                        that.goodsList.push(x);
                       
                     })
                })
             },
        },
        created:function(){
            let obj=cookietoObj(document.cookie);
            this.goodsStore=obj.goodsStore;
            axios({
                    method:''+
                    'POST',
                    url:'http://localhost:8080/mall/shopManage/information',
                    data:{
                        storeId:obj.goodsStore,
                    }
                }).then(resp=>{
                     let obj2=stringtoObj(resp.data);
                  this.Info_shopName=obj2.storeName;
                  this.Info_shopIntro=obj2.storeInstruction;
                  this.getGoodsList();
                })
            
            

        }
    }
)
    </script>
</body>
</html>