<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href=".../../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/shop.css">
    <link rel="stylesheet" href="../../static/css/qingchu.css">

    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/swiper-bundle.min.js"></script>
    <title>商店_网上商城</title>
</head>
<body>
    <div id="root">
        <div class="wrapper container">
           <div class="shopFrame">
            <span id="shopName">—&nbsp谁人的店铺&nbsp—</span>
            <br>
            <span id="shopIntroduction">简介：可爱小姐姐的店铺，欢迎大家选购的说~~</span>
           </div>
           <hr>
           <div class="col-xs-12 goodsFrame">
            <ul>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="goods">
                        <div class="goodsImg"><img src="./images/clothes_goods_1.jpg" alt="加载失败喵"></div>
                        <div class="goodsInfo">
                            <div class="goodsName">超美丽粑粑喜欢到疯干嘛啊啊啊啊啊</div>
                            <div class="goodsOther">
                                <span class="goodsPrice">5</span>
                                <span class="goodsSales">销量：100&nbsp&nbsp&nbsp评价数：12</span>
                            </div>
                        </div>
                        

                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="goods">
                        <div class="goodsImg"><img src="./images/clothes_goods_1.jpg" alt="加载失败喵"></div>
                        <div class="goodsInfo">
                            <div class="goodsName">超美丽粑粑喜欢到疯干嘛啊啊啊啊啊</div>
                            <div class="goodsOther">
                                <span class="goodsPrice">5</span>
                                <span class="goodsSales">销量：100&nbsp&nbsp&nbsp评价数：12</span>
                            </div>
                        </div>
                        

                    </div>
                </li>
                <li class="col-xs-12 col-sm-6 col-md-4">
                    <div class="goods">
                        <div class="goodsImg"><img src="./images/clothes_goods_1.jpg" alt="加载失败喵"></div>
                        <div class="goodsInfo">
                            <div class="goodsName">超美丽粑粑喜欢到疯干嘛啊啊啊啊啊</div>
                            <div class="goodsOther">
                                <span class="goodsPrice">5</span>
                                <span class="goodsSales">销量：100&nbsp&nbsp&nbsp评价数：12</span>
                            </div>
                        </div>
                        

                    </div>
                </li>
                
            </ul>
           </div>
         
    
    </div>

    <script>
        
new Vue(
    {
        el:'#root',
        data() {
            return {
                isBuyer:true,
                hahatype:"",
            }
        },

    }
)
    </script>
</body>
</html>