.toprow {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
}
.toprow > button {
  padding: 2px 5px;
  background-color: white;
  border: none;
  color: #24c6dc;
  transition: all 0.3s;
}
.toprow > button:hover {
  background-color: #24c6dc;
  border-radius: 10px;
  color: white;
}
.toprow .goodsUserName > div .span1 {
  color: #555;
}
.toprow .goodsUserName > div .span2 {
  color: #24c6dc;
}
.wrapper infoFrame {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .wrapper .goodsInfo1 {
    width: 80%;
    padding: 0;
  }
  .wrapper .goodsInfo1 .imgFrame {
    padding-top: 50%;
  }
}
@media screen and (max-width: 992px) {
  .wrapper .goodsInfo1 {
    margin: 0;
    padding: 0;
  }
  .wrapper .goodsInfo1 .imgFrame {
    padding-top: 100%;
  }
}
.wrapper .goodsInfo1 {
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.wrapper .goodsInfo1 .imgFrame {
  position: relative;
  height: 0;
}
.wrapper .goodsInfo1 .imgFrame img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 992px) {
  .wrapper .goodsInfo1 .infoFrame {
    height: 0;
    padding-top: 50%;
    position: relative;
  }
  .wrapper .goodsInfo1 .infoFrame .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.wrapper .goodsInfo1 .infoFrame .info {
  display: flex;
  flex-direction: column;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsName {
  flex: 2;
  padding: 0.3rem;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsName h1 {
  font-weight: 100 !important;
  color: #888;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsPriceSales {
  flex: 2;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsPriceSales h2 {
  font-size: 0.7rem;
  color: #ff7575;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsPriceSales h2:before {
  content: "￥";
  font-size: 30px;
}
.wrapper .goodsInfo1 .infoFrame .goods_goodsPriceSales h3 {
  font-size: 0.3rem;
  color: #999;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo {
  flex: 7;
}
@media screen and (min-width: 992px) {
  .wrapper .goodsInfo1 .infoFrame .orderInfo {
    padding: 0 0.5rem 0.5rem;
  }
}
@media screen and (max-width: 992px) {
  .wrapper .goodsInfo1 .infoFrame .orderInfo {
    padding: 0 0.2rem 0.2rem;
  }
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form {
  padding: 0.2rem 0.3rem 0.2rem 0.5rem;
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .wrapper .goodsInfo1 .infoFrame .orderInfo form div {
    margin: 0.1rem 0;
  }
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form h4 {
  text-align: center;
  color: #aaa;
  font-weight: 300;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form span {
  font-size: larger;
  color: #888;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form input {
  border: 0.5px solid #ddd;
  font-size: larger;
  padding: 0 0.1rem;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form .orderNum input {
  width: 1rem;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form .orderBuyerName input {
  width: 2rem;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form .orderBuyerAddress input {
  width: 70%;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form .orderSubmit button {
  float: right;
  background-color: white;
  border: none;
  font-size: larger;
  color: #aaa;
}
.wrapper .goodsInfo1 .infoFrame .orderInfo form .orderSubmit button:hover {
  color: #24c6dc;
}
.wrapper .options {
  margin: 0.3rem 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .wrapper .options div {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .options div {
    width: 80%;
  }
}
.wrapper .options div button {
  transition: all 0.2s;
  background: white;
  margin: 0 0.1rem;
  border: none;
  border-top: 2px solid white;
  height: 0.6rem;
  font-size: larger;
  color: #555;
}
.wrapper .options div button:hover {
  color: #24c6dc;
}
.wrapper .options div .button_detail {
  border-top: 2px solid #24c6dc;
  color: #24c6dc;
}
.wrapper .options div .button_shop {
  float: right;
}
.wrapper .optionsFrame {
  display: flex;
  justify-content: center;
}
.wrapper .optionsFrame > div {
  border: 1px solid #ccc;
  padding: 0.3rem;
}
@media screen and (max-width: 992px) {
  .wrapper .optionsFrame > div {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .wrapper .optionsFrame > div {
    width: 80%;
  }
}
.wrapper .optionsFrame > div .detail {
  font-size: larger;
}
