.background1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 10rem;
  background: -webkit-linear-gradient(left top, #24c6dc, #ffe47a);
}
.background2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top, #ed4264, #ffedbc);
  transition: all 1s;
  opacity: 0;
}
.background3 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(right top, #24c6dc, #514a9d);
  transition: all 1s;
  opacity: 0;
}
.loginlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.bgshow {
  opacity: 1;
}
.login {
  width: 9rem;
  height: 9rem;
  align-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 0.6rem;
  color: white;
}
.login h5 {
  font-size: 0.7rem;
}
.login h3 {
  font-size: 1rem;
  line-height: 1.3rem;
}
.login form {
  display: block;
  height: 2.5rem;
  margin: 0.6rem 1rem 0.1rem;
}
.login form span {
  line-height: 1rem;
  font-size: 0.4rem;
}
.login form input {
  height: 0.5rem;
  width: 4.5rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
  padding: 5%;
  color: black;
  font-size: larger;
  transition: all 0.3s;
  line-height: 0.5rem;
}
.login form input::placeholder {
  color: #aaa;
}
.login form .focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.login .buttons {
  width: 6rem;
  height: 2rem;
  margin: 1rem auto 0.1rem;
}
.login .buttons button {
  width: 40%;
  height: 55%;
  background-color: #fff;
  border-radius: 0.4rem;
  border: none;
  font-size: 0.5rem;
  transition: all 0.3s;
}
.login .buttons button:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.login .buttons .bt1 {
  float: left;
  color: #75d1b7;
}
.login .buttons .bt2 {
  float: right;
  color: #b8da98;
}
.login .buttons .btcolor2 {
  color: #fbc6a8;
}
.login .buttons .btcolor3 {
  color: #3c80b6;
}
