.orderFrame li {
  width: 100%;
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
}
.orderFrame li .order {
  width: 60%;
  min-width: 300px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
  padding: 0.2rem;
}
.orderFrame li .order div {
  padding-bottom: 0.1rem;
}
.orderFrame li .order .orderId {
  color: #ccc;
  font-size: larger;
}
.orderFrame li .order .orderGoodsName h3 {
  font-weight: 300;
  color: #555;
}
.orderFrame li .order .orderGoodsInfo {
  font-size: larger;
  color: #999;
}
.orderFrame li .order .orderBuyerInfo {
  font-size: larger;
  color: #999;
}
.orderFrame li .order .bts {
  vertical-align: middle;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.orderFrame li .order .bts > div {
  display: flex;
}
.orderFrame li .order .bts > div span {
  padding-top: 1px;
  color: #aaa;
}
.orderFrame li .order .bts > div button {
  margin-left: 15px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #24c6dc;
  font-size: larger;
  transition: all 0.2s;
}
.orderFrame li .order .bts > div button:hover {
  color: #24c6dc;
}
.orderFrame li .order .bts .goodsDetail {
  background-color: #fff;
  border: none;
  color: #555;
  transition: all 0.2s;
}
.orderFrame li .order .bts .goodsDetail:hover {
  color: #24c6dc;
}
.orderFrame li .order .orderComment {
  padding-top: 0;
}
.orderFrame li .order .orderComment form {
  border-top: 1px solid #eee;
  padding: 0.2rem 0.1rem 0.1rem;
}
.orderFrame li .order .orderComment form span {
  font-size: larger;
  color: #24c6dc;
}
.orderFrame li .order .orderComment form .scorebts button {
  background-color: #fff;
  color: #555;
  border: none;
  margin: 0 0.2rem;
  transition: all 0.2s;
  border-bottom: 2px solid #fff;
}
.orderFrame li .order .orderComment form .scorebts button:hover {
  color: #24c6dc;
}
.orderFrame li .order .orderComment form .commentInput {
  margin-top: 0.1rem;
  width: 100%;
  border: 1px solid #eee;
  padding: 0.1rem;
  font-size: larger;
}
.orderFrame li .order .orderComment form .submitButton button {
  margin-top: 0.1rem;
  float: right;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #24c6dc;
  font-size: larger;
  transition: all 0.2s;
}
.orderFrame li .order .orderComment form .submitButton button:hover {
  color: #24c6dc;
}
