<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.CommentMapper">

    <select id="selectCommentCountOfGood" resultType="int">
        select count(*)
        from comment
        where comment_store_id = #{storeId} and comment_good_id = #{goodId}
    </select>

    <insert id="insertComment" parameterType="com.example.mall.entity.Comment">
        insert into comment (id, comment_score, comment_content, comment_store_id, comment_good_id)
        values (#{commentId},#{commentScore},#{commentContent},#{commentStore},#{commentGood})
    </insert>

    <select id="selectCommentsByGoodsId" resultType="com.example.mall.entity.Comment">
        select id, comment_score, comment_content, comment_store_id, comment_good_id
        from comment
        where comment_good_id = #{goodsId}
        order by id desc
    </select>

</mapper>