<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.CommentMapper">

    <select id="selectCommentCountOfGood" resultType="int">
        select count(*)
        from comment
        where comment_store = #{storeId}
    </select>
</mapper>