<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.GoodsMapper">

    <select id="selectGoodById" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store
        from goods
        where id = #{id}
    </select>

    <select id="selectGoodByName" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store
        from goods
        where good_name = #{goodName}
    </select>

    <select id="selectGoodByCategory" resultType="List">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store
        from goods
        where good_category = #{goodCategory}
    </select>

    <select id="SelectGoodBySales" resultType="List">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store
        from goods
        order by good_sales
    </select>

    <insert id="insertGood" parameterType="com.example.mall.entity.Good" keyProperty="id">
        insert into goods (id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture, good_store)
        values (#{id},#{goodName},#{goodPrice},#{goodCategory},#{goodIntroduction},#{goodSales},#{goodOptions},#{goodPicture},#{goodStore})
    </insert>

    <update id="updateGoodName">
        update goods set good_name = #{goodName} where id = #{id}
    </update>

    <update id="updateGoodPrice">
        update goods set good_price = #{goodPrice} where id = #{id}
    </update>

</mapper>