<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.GoodsMapper">

    <select id="selectGoodById" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store, good_comment_count
        from goods
        where id = #{id}
    </select>

    <select id="selectGoodByName" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store, good_comment_count
        from goods
        where good_name = #{goodName}
    </select>

    <select id="selectGoodsByStoreId" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store, good_comment_count
        from goods
        where good_store = #{storeId}
    </select>

    <select id="selectGoodByCategory" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store, good_comment_count
        from goods
        where good_category = #{goodCategory}
    </select>

    <select id="selectGoodBySales" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture,
            good_store, good_comment_count
        from goods
        order by good_sales desc, id desc
        limit 0,24
    </select>

    <insert id="insertGood" parameterType="com.example.mall.entity.Good" keyProperty="id">
        insert into goods (id, good_name, good_price, good_category, good_introduction, good_sales, good_options, good_picture, good_store, good_comment_count)
        values (#{id},#{goodName},#{goodPrice},#{goodCategory},#{goodIntroduction},#{goodSales},#{goodOptions},#{goodPicture},#{goodStore},#{goodCommentCount})
    </insert>

    <update id="updateGoodName">
        update goods set good_name = #{goodName} where id = #{id}
    </update>

    <update id="updateGoodPrice">
        update goods set good_price = #{goodPrice} where id = #{id}
    </update>

    <delete id="deleteGoodById">
        delete from goods where id = #{id}
    </delete>

    <delete id="deleteGoodsByIds">
        delete from goods where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>

</mapper>