<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.GoodsMapper">

    <select id="selectById" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales
        from goods
        where id = #{id}
    </select>

    <select id="selectByName" resultType="com.example.mall.entity.Good">
        select id, good_name, good_price, good_category, good_introduction, good_sales
        from goods
        where good_name = #{goodName}
    </select>

    <select id="selectByCategory" resultType="List">
        select id, good_name, good_price, good_category, good_introduction, good_sales
        from goods
        where good_category = #{goodCategory}
    </select>

    <select id="selectBySales" resultType="List">
        select id, good_name, good_price, good_category, good_introduction, good_sales
        from goods
        order by good_sales
    </select>

    <insert id="insertGood" parameterType="com.example.mall.entity.Good" keyProperty="id">
        insert into good (good_name, good_price, good_category, good_introduction, good_sales)
        values (#{goodName},#{goodPrice},#{goodCategory},#{goodIntroduction},#{goodSales})
    </insert>

    <update id="updateGoodName">
        update good set good_name = #{goodName} where id = #{id}
    </update>

    <update id="updateGoodPrice">
        update good set good_price = #{goodPrice} where id = #{id}
    </update>

</mapper>