<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.OrderMapper">

    <insert id="insertOrder" parameterType="com.example.mall.entity.Order" keyProperty="orderId">
        insert into `order` (order_id, user_id, shop_id, good_id, purchase_quantity, total_price, good_name, good_option, order_status, address, tel_number, buyer_name)
        values (#{orderId},#{userId},#{shopId},#{goodId},#{purchaseQuantity},#{totalPrice},#{goodName},#{goodOption},#{orderStatus},#{address},#{telNumber},#{buyerName})
    </insert>

    <select id="selectOrdersByUserId" resultType="com.example.mall.entity.Order">
        select order_id, user_id, shop_id, good_id, purchase_quantity, total_price, good_name, good_option, order_status, address, tel_number, buyer_name
        from `order`
        where user_id = #{userId}
        order by order_id desc
    </select>

    <select id="selectOrdersByShopId" resultType="com.example.mall.entity.Order">
        select order_id, user_id, shop_id, good_id, purchase_quantity, total_price, good_name, good_option, order_status, address, tel_number, buyer_name
        from `order`
        where shop_id = #{shopId}
        order by order_id desc
    </select>

    <update id="updateOrderStatus" parameterType="com.example.mall.entity.Order">
        update `order`
        set order_status = order_status + 1 where order_id = #{orderId}
    </update>

    <select id="selectGoodIdByOrderId" resultType="int">
        select good_id
        from `order`
        where order_id = #{orderId}
    </select>

    <select id="selectStoreIdByOrderId" resultType="int">
        select shop_id
        from `order`
        where order_id = #{orderId}
    </select>

    <select id="selectOrderStatusByGoodId" resultType="int">
        select order_status
        from `order`
        where good_id = #{goodId}
    </select>

    <select id="selectOrderById" resultType="com.example.mall.entity.Order">
        select order_id, user_id, shop_id, good_id, purchase_quantity, total_price, good_name, good_option, order_status, address, tel_number, buyer_name
        from `order`
        where order_id = #{orderId}
    </select>

    <select id="selectUserIdByOrderId" resultType="int">
        select user_id
        from `order`
        where order_id = #{orderId}
    </select>

    <select id="selectOrderIdsByGoodsId" resultType="java.lang.Integer">
        select order_id
        from `order`
        where good_id = #{goodsId}
    </select>
</mapper>