<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.StoreMapper">

    <select id="selectStoreById" resultType="com.example.mall.entity.Store">
        select store_id, store_name, total_sales, instruction
        from store
        where store_id = #{storeId}
    </select>

    <select id="selectStoreByName" resultType="com.example.mall.entity.Store">
        select store_id, store_name, total_sales, instruction
        from store
        where store_name = #{storeName}
    </select>

    <select id="selectStoreByUserId" resultType="com.example.mall.entity.Store">
        select store_id, store_name, total_sales, instruction
        from store
        where store_id = #{userId}
    </select>

    <insert id="insertStore" parameterType="com.example.mall.entity.Store" keyProperty="storeId">
        insert into store (store_id, store_name, total_sales, instruction)
        values (#{storeId},#{storeName},#{totalSales},#{instruction})
    </insert>

    <update id="updateStoreName">
        update store set store_name = #{storeName} where store_id = #{storeId}
    </update>

    <update id="updateStoreInstruction">
        update store set instruction = #{instruction} where store_id = #{storeId}
    </update>

</mapper>