<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htttp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.UserMapper">

    <select id="selectUserById" resultType="com.example.mall.entity.User">
        select id, username, password, type
        from user
        where id = #{id}
    </select>

    <select id="selectUserByName" resultType="com.example.mall.entity.User">
        select id, username, password, type
        from user
        where username = #{username}
    </select>

    <select id="selectIdByName" resultType="int">
        select id
        from user
        where username = #{username}
    </select>

    <select id="selectTypeByName" resultType="java.lang.String">
        select type
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.example.mall.entity.User" keyProperty="id">
        insert into user (username, password, type, account)
        values (#{username},#{password},#{type},#{account})
    </insert>

    <update id="updatePassword">
        update user set password = #{password} where id = #{id}
    </update>

    <select id="selectAccountById" resultType="java.lang.Integer">
        select account
        from user
        where id = #{id}
    </select>
</mapper>